.card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    @media screen and (max-width: 768px) {
        display: block;
    }

    .card-details {
        border: 1px solid transparent;
        padding: 10px;
        flex: 1 0 calc(20% - 20px);
        max-width: 20%;
        display: flex;
        flex-direction: row;
        flex-wrap: unset;
        justify-content: space-evenly;
        margin: 10px 0;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.6);
        border-radius: 5px;

        @media screen and (max-width: 768px) {
            flex-basis: 100%;
            max-width: 100%;
            margin: 10px;
        }
    }

    .card-image{
        flex: 1 0 calc(60% - 5px);
        max-width: 60%;
        border: 1px dotted yellowgreen;
    }

    .card-text  {
        flex: 1 0 calc(40% - 5px);
        max-width: 40%;
        word-break: break-word;
    }

    .card-text p {
        font-size: 12px;
        line-height: 1;
    }
}
