#root,
.App {
min-height: 100vh;;
}

#root {
  h1 {
    // background: linear-gradient(to right, #30CFD0 100%, #330867 0%);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    a {
      text-decoration: none;
      color: #7EE2E2;
      background-color: black;
      display: inline-block;
      text-align: center;
      border: 1px solid transparent;
      padding: 10px;
    }

    a:hover {
      color: yellowgreen;
    }
  }
}

.App {
  text-align: center;
  border: 1px solid transparent;
  margin: 50px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  background-color: rgba(248, 248, 248, 0.9) ;

  @media screen and (max-width: 768px) {
    margin: 20px;
  }
}

.filter-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;

  .filter-btn {
    flex: 1 0 calc(160px - 20px);
    max-width: 160px;
    border: 1px solid transparent;
    border-image-source: linear-gradient(to right, rgb(26, 41, 128) 0%, rgb(38, 208, 206) 51%, rgb(26, 41, 128) 100%);
    // 1A2980
    border-image-slice: 1;
    margin: 0 10px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 2px 10px 3px rgba(0, 0, 0, 0.6);
    font-weight: bold;
    font-size: 12px;

    &:active {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
      transition: box-shadow 0.4s ease-in-out;
    }

    &.active {
      background: linear-gradient(to right, rgb(26, 41, 128) 0%, rgb(38, 208, 206) 51%, rgb(26, 41, 128) 100%);
      transition: all 0.1s;
      color: #ffffff;
    }
  }
}